<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyber.smedu.mapper.CurriculumMapper">
	<select id="selectDepartmentListByDate"
		resultType="com.cyber.smedu.curriculum.domain.DepartmentDomain"
		parameterType="java.util.Map">
			SELECT 
				department_code as departmentCode,
				department_name as departmentName
			FROM
				department
	</select>
</mapper>